h2 Welcome #{name.first} to the Ignatian Examen!

p We see this is your first time logging in. Here's some helpful tips to get started using the site!

p Students and faculty at #[b= school.name] can access the site using their school Google accounts #[i (ending with #{school.domain})].

h3 Active Examen
p Faculty schedule examens to be active for certain time periods so that the entire school can choose one to follow together.

h3 Archive
p On the examen archive, you can view examens written and recorded by schoolmates/faculty all in your browser on a computer or a mobile device!

hr

a(href=websiteUrl) Website
a(href="#") Your Profile
