.hero.is-school {
  background-color: var(--school-primary-color);
  color: var(--school-text-color);
  * {
    color: var(--school-text-color);
  }
  nav a {
    color: var(--school-text-color);
  }
  .hero-head a.navbar-item:hover {
    color: var(--school-secondary-color);
  }
  .hero-foot {
    background-color: var(--school-secondary-color);
    .tabs .container ul {
      li.is-active {
        background-color: var(--school-primary-color);
      }
      li:hover {
        background-color: var(--school-primary-color);
      }
    }
    .navbar-menu {
      background-color: var(--school-primary-color);
    }
  }
  .navbar .school-image {
    padding-top: 10px;
    padding-left: 10px;
  }
  .login-button {
    color: var(--school-primary-color);
  }
  .logout-button:hover {
    color: var(--school-secondary-color);
  }
}