@import 'header';
@import 'homepage';
@import 'archive';
@import 'examen';
@import 'newexamen';
@import 'footer';
section.section {
  padding-top: 1.7rem;
}

audio.examen-audio {
  width: 100%;
}

.date {
  font-weight: normal;
}

.is-fullwidth {
  width: 100%;
}

.examen-audio:first-child {
  display: none;
}

.is-visible-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .regis-image {
    width: 90%;
  }
  .is-marginless-mobile {
    margin: 0;
  }
  .examen-controls .column {
    padding: 0;
  }
  .examen-controls {
    margin-bottom: 10px;
  }
  .export-audio,
  .delete-examen {
    float: none;
  }
  .is-visible-mobile {
    display: initial;
  }
}