section.hero.is-regis.is-small
  .hero-head
    nav.navbar
      .container
        img.image(src="/images/wordmark.png")
        .navbar-end
          if loggedIn
            span.navbar-item Logged in as #{user.isStudent ? 'Student' : ''} &nbsp;
              b= user.name.first + " " + user.name.last
            a.navbar-item(href="/logout") Logout
          else
            span.navbar-item
              a.button.is-dark.is-inverted(href="/auth/google") Login with Regis Account

  .hero-body
    .container
      h1.title.has-text-centered-mobile Ignatian Examen

  .hero-foot
    nav.tabs
      .container
        ul
          li.is-active
            a(href="/") Home
          li
            a Today's Examen
          li
            a(href="/examen/archive") Examen Archive
          if loggedIn
            // TODO: switch
            if user.isStudent
              li
                a(href="/examen/new") Post New Examen