extends /template

block content
  section.section
    .container
      
      .content.is-clearfix
        h1.subtitle What is the Examen?
        image.image.is-pulled-left.loyola(src="/images/SaintIgnatiusofLoyola.jpg")
        
        p The Daily Examen, an ancient practice in the Catholic faith tradition, is a technique of prayerful reflection on the events of the day in order to detect God’s presence and discern a direction forward. In his Spiritual Exercises, St. Ignatius of Loyola described the Examen as a gift that came directly from God, and that God wanted it to be shared as widely as possible. One of the few rules of prayer that St. Ignatius made for the Jesuit order was the requirement that Jesuits practice the Examen twice daily—at noon and at the end of the day. It’s a habit that Jesuits, lay collaborators, and many other Christians, practice to this day.
        hr
        <script type="text/javascript" src="https://www.brainyquote.com/link/quotebr.js"></script>