.examen-archive .links i {
  padding: 5px;
}

figure .loyola {
  width: 30%;
  border: 5px solid #222;
}

audio.examen-audio {
  width: 100%;
}

.prompts .content:not(.is-active) {
  display: none;
}

.new-examen #introduction,
.new-examen .prompt {
  display: none;
}