.hero.is-regis {
  background-color: #d31145;
  color: whitesmoke;
}

.hero.is-regis * {
  color: whitesmoke;
}

.hero.is-regis nav a {
  color: whitesmoke;
}

.hero.is-regis .hero-head a.navbar-item:hover {
  color: #BB0B3A;
}

.hero.is-regis .hero-foot {
  background-color: #BB0B3A;
}

.hero.is-regis .hero-foot .tabs .container ul li.is-active {
  background-color: #d31145;
}

.hero.is-regis .hero-foot .tabs .container ul li:hover {
  background-color: #d31145;
}

.examen-archive .links i {
  padding: 5px;
}

figure .loyola {
  width: 30%;
  border: 5px solid #222;
}

audio.examen-audio {
  width: 100%;
}

.prompts .content:not(.is-active) {
  display: none;
}

.new-examen #introduction,
.new-examen .prompt {
  display: none;
}