.examen-controls.is-marginless-mobile
  audio.examen-audio.is-marginless#backing-track(controls, loop, src="/audio/examens/" + examen.id + "/backing_track." + examen.backingTrackExt, volume="0.1", type="audio/mpeg")
  .has-text-centered-mobile
    button.button.is-primary(@click="playFromStart", :class="playing ? 'is-outlined' : ''")
      i.fas.fa-volume-up &nbsp;
      |  {{ playing ? 'Stop' : 'From Start' }}
    //button.button.is-link(v-if="!autocontinue", :data-prompt="status", @click="hearPrompt(status)")
    //  i.fas.fa-volume-up &nbsp;
    //  | Listen
    button.button(@click="autocontinue = false; prevPrompt();", :disabled="!hasPrevPrompt")
      i.fas.fa-arrow-left
    button.button(@click="autocontinue = false; nextPrompt()", :disabled="!hasNextPrompt")
      i.fas.fa-arrow-right
    span.status-tag.tag.is-info.is-medium {{ statusText }}

  // TODO: switch to staff check
  if loggedIn && user.isStudent
    hr
    form.delete-examen.has-text-centered-mobile(action="/examen/" + examen.id + "/remove", method="POST", onsubmit="return confirm('Are you sure you want to remove " + examen.title + "?')")
      button.button.is-danger Delete Examen
      a.button.is-link.export-audio(href="/examen/" + examen.id + "/export", onclick="alert('Coming soon...'", disabled) Export Audio
