if examen.approved && !user.isStudent
  form.delete-examen.has-text-centered-mobile(action="/examen/" + examen.id + "/remove", method="POST", onsubmit="return confirm('Are you sure you want to remove " + examen.title + "?')")
    button.button.is-danger Delete Examen
    a.button.is-link.export-audio(href="/examen/" + examen.id + "/export", onclick="alert('Coming soon...'", disabled) Export Audio

  if examen.visibility === 'school'
    form.schedule-examen(action="/examen/" + examen.id + "/schedule", method="POST")
      .columns
        .column.field.is-narrow
          label.label(for="start-date") Start Date
          .control
            input.input#start-date(name="start-date", type="date", min=moment().format("YYYY-MM-DD"), value=examen.startActive ? moment(examen.startActive).format('YYYY-MM-DD') : moment().format("YYYY-MM-DD"))
        .column.field.is-narrow
          label.label(for="end-date") End Date
          .control
            input.input#end-date(name="end-date", type="date", min=moment().format("YYYY-MM-DD"), value=examen.endActive ? moment(examen.endActive).format('YYYY-MM-DD') : moment().add(7, 'days').format("YYYY-MM-DD"))
        .column.is-narrow
          if examen.startActive
            button.button.is-warning Reschedule
          else
            button.button.is-primary Schedule
    hr
else if !examen.approved
  form.approve-examen(method="POST", action="/examen/" + examen.id + "/approve", onsubmit="return confirm('Confirm approve?')")
    button.button.is-success Approve
  form.deny-examen(method="POST", action="/examen/" + examen.id + "/deny", onsubmit="return confirm('Confirm deny?')")
    button.button.is-danger Deny
  hr