if !examen.approved
  .notification.is-warning This examen has been submitted for approval. Please view it and choose to #[b accept] or #[b deny] it below.

mixin controls(mobile=false)
  audio.examen-audio#backing-track(controls, loop, src="/audio/backingtracks/" + examen.backingTrack, volume="0.1", type="audio/ogg")
  div(class=mobile ? 'has-text-centered' : '')
    button.button.is-primary(@click="playFromStart", :class="autocontinue ? 'is-outlined' : ''")
      i.fas.fa-volume-up &nbsp;
      |  {{ autocontinue ? 'Stop' : 'Start' }}
    button.button(@click="autocontinue = false; prevPrompt();", :disabled="autocontinue || !hasPrevPrompt")
      i.fas.fa-arrow-left
    button.button(@click="autocontinue = false; nextPrompt()", :disabled="autocontinue || !hasNextPrompt")
      i.fas.fa-arrow-right

.examen-controls.is-hidden-mobile.is-pulled-right
  +controls

h1.title
  if !examen.approved
    span.icon(title="This examen has not been approved yet.")
      i.fas.fa-lock
  |  #{examen.title}
h2.subtitle.status-tag {{ statusText }}

.examen-controls.is-visible-mobile
  +controls(true)