if !examen.approved
  .notification.is-warning This examen has been submitted for approval. Please view it and choose to #[b accept] or #[b deny] it below.

mixin controls(mobile=false)
  audio.examen-audio#backing-track(controls, loop, src="/audio/backingtracks/" + examen.backingTrack, volume="0.1", type="audio/ogg")
  div(class=mobile ? 'has-text-centered' : '')
    .volume-field
      label.label(for="volume")
        i.fas.fa-volume-up
      input#volume(name="volume", type="range", min="0.1", max="1", step="0.1", value="1", v-model.number="volumePercent", @change="changeVolume")
    
    button.button.is-primary(@click="playFromStart", :class="autocontinue ? 'is-outlined' : ''") {{ autocontinue ? 'Stop' : 'Listen' }}
    button.button(@click="autocontinue = false; prevPrompt();", :disabled="autocontinue || !hasPrevPrompt")
      i.fas.fa-arrow-left
    button.button(@click="autocontinue = false; nextPrompt()", :disabled="autocontinue || !hasNextPrompt")
      i.fas.fa-arrow-right

.examen-controls.is-hidden-mobile.is-pulled-right
  +controls

h1.title
  if !examen.approved
    span.icon(title="This examen has not been approved yet.")
      i.fas.fa-lock
  |  #{examen.title}
h2.subtitle.status-tag {{ statusText }}

.examen-controls.is-visible-mobile
  +controls(true)