nav.pagination(role="navigation", aria-lable="pagination")
  a.pagination-previous Prev
  a.pagination-next Next
  
  ul.pagination-list
    li
      a.pagination-link.is-current 1
    li
      a.pagination-link 2
    li
      a.pagination-link 3