extends ../template

block content
  script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  script(src="/scripts/new.js", defer)

  section#new-examen.section
    .container
      h1.title New Examen
      form.new-examen(@submit.prevent="handleSubmit", method="POST", enctype="multipart/form-data")
        .columns
          .field.column
            label.label(for="title") Title
            .control
              input#title.input(type="text", name="title", v-model="title", required)
          .field.column
            label.label(for="backing-track") Backing Track
            .control
              input#backing-track.input(type="file", name="recording", accept="audio/*")

        .field
          label.label Introduction
          .control
            input#introduction(name="introduction", v-model="introduction")
            div.editor.introduction-editor(data-editing="introduction")
        hr
        .prompts
          
          h1.subtitle.is-size-4
            b Prompts
            small.has-text-grey-light  {{ prompts.length }} total

          .box(v-for="(text, index) in prompts")
            .field.is-pulled-right
              .control
                label.label.is-inline Pause
                input.is-inline.input.delay-input(type="number", v-model="prompts[index].delay", min=0, max=600, required)
            h1.subtitle Prompt {{ index + 1}}
            .field
              .control
                textarea.prompt(type="text", :id="'prompt-' + index", :data-prompt="index", name="prompt", v-model="prompts[index].text", required)
                .editor.prompt-editor(:id="'prompt-' + index + '-editor'", :data-editing="'prompt-' + index", :data-prompt="index")
            
            hr

            button.button(type="button", @click="toggleRecording(index)", :class="prompts[index].recording ? 'is-danger' : 'is-warning'") {{ prompts[index].recording ? 'Stop Recording' : 'Start Recording' }}
            audio(controls, :src="prompts[index].src")

          hr
          .field
            label.label Closing
            .control
              input#closing(name="closing", v-model="closing")
              div.editor.closing-editor(data-editing="closing")
        hr
        button.button.is-info.is-large.is-pulled-right Post Examen
        button.button.is-success(type="button", @click="addPrompt") Add Prompt
