extends /template

block content
  section.section
    .container
      h1.title.has-text-centered-mobile Pending Submissions
        small.has-text-grey-light.subtitle  0 total
      //include _pagination
      .examen-submissions
        p.has-text-centered.has-text-grey-light No examens have been submitted for approval yet...